{% extends "base.html" %} 
{% block title %}Player Input Form{% endblock %} 
{% block content %}
<form method="POST">
  <h3 align="center">Player Input Form</h3>
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.position.label }} {{ form.position(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.height.label }} {{ form.height(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.weight.label }} {{ form.weight(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.finishing.label }} {{ form.finishing(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.shooting.label }} {{ form.shooting(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.handles.label }} {{ form.handles(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.rebounding.label }} {{ form.rebounding(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.defense.label }} {{ form.defense(class="form-control") }}
  </div>
  <br />
  {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
